---
import Layout from '../layouts/Layout.astro';

---


<Layout title="Welcome to Astro.">
    <header>
        <div class="logo"><img src="logo.png" alt="logo" class="logo__image"></div>
        <nav>
            <ul class="navigation">
                <li class="navigation__item"><a href="" class="navigation__link">Item1</a></li>
                <li class="navigation__item"><a href="" class="navigation__link">Item2</a></li>
                <li class="navigation__item"><a href="" class="navigation__link">Item3</a></li>
                <li class="navigation__item"><a href="" class="navigation__link">Item4</a></li>
                <li class="navigation__item"><a href="" class="navigation__link">Item5</a></li>
            </ul>
        </nav>
    </header>
    <main>
       
        <div class="container">
            <div class="content">
                <div class="content__column">
                    <div class="card">
                        <div class="card__title">
                            <h3>Lorem ipsum</h3>
                        </div>
                        <div class="card__description">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus, maxime quasi assumenda nulla sunt dolore dolorem eligendi autem nihil neque, est impedit nemo perspiciatis. Rem vel fugiat error ipsum!</p>
                        </div>
                        <button class="card__btn">saber más</button>

                    </div>
                    <div class="card card__color--grey">
                        <div class="card__title">
                            <h3>Lorem ipsum</h3>
                        </div>
                        <div class="card__description">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus, maxime quasi assumenda nulla sunt dolore dolorem eligendi autem nihil neque, est impedit nemo perspiciatis. Rem vel fugiat error ipsum!</p>
                        </div>
                        <button class="card__btn">saber más</button>

                    </div>
                </div>
                <div class="content__column">
                    <div class="articles-wrapper">
                        <div class="article">
                            <div class="article__img-wrapper">
                                <img src="https://user-images.githubusercontent.com/2805249/64069998-305de300-cc9a-11e9-8ae7-5a0fe00299f2.png" alt="Article Image" class="article__img">
                            </div>
                            <div class="article__content">
                                <h2 class="article__title">Lorem ipsum dolor sit amet.</h2>
                                <p class="article__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum repellendus architecto exercitationem! Doloribus eius facilis illo et eveniet sequi, sed dolor quisquam error maxime odit perspiciatis culpa necessitatibus incidunt maiores...</p>
                                <button class="article__btn">saber más</button>
                            </div>
                        </div>
                        <div class="article">
                            <div class="article__img-wrapper">
                                <img src="https://user-images.githubusercontent.com/2805249/64069899-8bdaa180-cc97-11e9-9b19-1a9e1a254c18.png" alt="Article Image" class="article__img">
                            </div>
                            <div class="article__content">
                                <h2 class="article__title">Lorem ipsum dolor sit amet.</h2>
                                <p class="article__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum repellendus architecto exercitationem! Doloribus eius facilis illo et eveniet sequi, sed dolor quisquam error maxime odit perspiciatis culpa necessitatibus incidunt maiores...</p>
                                <button class="article__btn">saber más</button>
                            </div>
                        </div>
                        <div class="article">
                            <div class="article__img-wrapper">
                                <img src="https://user-images.githubusercontent.com/2805249/64069899-8bdaa180-cc97-11e9-9b19-1a9e1a254c18.png" alt="Article Image" class="article__img">
                            </div>
                            <div class="article__content">
                                <h2 class="article__title">Lorem ipsum dolor sit amet.</h2>
                                <p class="article__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum repellendus architecto exercitationem! Doloribus eius facilis illo et eveniet sequi, sed dolor quisquam error maxime odit perspiciatis culpa necessitatibus incidunt maiores...</p>
                                <button class="article__btn">saber más</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content__column">
                    <div class="card">
                        <div class="card__title">
                            <h3>Lorem ipsum</h3>
                        </div>
                        <div class="card__description">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus, maxime quasi assumenda nulla sunt dolore dolorem eligendi autem nihil neque, est impedit nemo perspiciatis. Rem vel fugiat error ipsum!</p>
                        </div>
                        <button class="card__btn">saber más</button>

                    </div>
                   
                    <div class="card">
                        <div class="card__title">
                            <h3>Lorem ipsum</h3>
                        </div>
                        <div class="card__description">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus, maxime quasi assumenda nulla sunt dolore dolorem eligendi autem nihil neque, est impedit nemo perspiciatis. Rem vel fugiat error ipsum!</p>
                        </div>
                        <button class="card__btn">saber más</button>

                    </div>
                    <div class="card">
                        <div class="card__title">
                            <h3>Lorem ipsum</h3>
                        </div>
                        <div class="card__description">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus, maxime quasi assumenda nulla sunt dolore dolorem eligendi autem nihil neque, est impedit nemo perspiciatis. Rem vel fugiat error ipsum!</p>
                        </div>
                        <button class="card__btn">saber más</button>

                    </div>

                </div>

            </div>

        </div>
    </main>
</Layout>
<style>
    body {
    font-family: "Raleway";
    background-color: #f1f1f1;
}
a {
    display: block;
    color: black;
    text-decoration: none;
}

header {
    background: #0B2027;
    display: flex;
    
    position: fixed;
    z-index: 5;
    width: 100%;
}
nav {
    display: flex;
    width: 100%;
   
}
main {
    padding-top: 120px;
    max-width: 1200px;
    margin: 0 auto;
}
footer {
    background-color: #16414f;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.logo {
    height: 100px;
}
.logo__image {
    height: 100px;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
}
.centered {
    text-align: center;
}
.navigation {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
    color: white;
    align-self: center;
}
.navigation__item {
    display: flex;
}
.navigation__link {
padding: 0px 20px;
    align-self: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease;
}
.navigation__link:hover {
    background-color: #16414f;
}
.content{
    position: relative;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-gap: 20px;
}
.content__column{

}

.articles-wrapper {
   
    margin: 0 auto;
    padding: 30px 0;
}
.article {
    display: flex;
    border-bottom: 1px solid #16414f;
    width: 100%;
    padding-bottom: 30px;
    align-items: center;
}


.article__content {
    padding: 0 15px;
    margin-left: 15px;
}
.article__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.article__text {
    margin-bottom: 10px;
    line-height: 24px;
}

.article__img-wrapper{
    
    max-width: 100px;
}
.article__img-wrapper img{
    width: 100%;
}
.article__btn{

    padding: 10px;
    border: 1px solid #16414f;
    color:#0B2027;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.card{
    border: 1px solid #F44336;
    padding: 0px 20px 20px;
    margin-bottom: 10px;
}
.card__title{
color:#F44336;
}
.card__btn{
    background-color: #F44336;
    border: none;
    padding: 10px;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
}
.card__color--grey{
    background-color: #dddddd;
    border: 1px solid hsl(0, 0%, 21%);
}
.card__color--grey .card__title{
    color:hwb(0 32% 68%);
}
.card__color--grey .card__btn{
    background-color: #0B2027;

}
</style>